# CMake
cmake-build-*/


# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea
.vscode
.env
tmp*
test.txt
.continue
tmp
dist
__pycache__
.python-version
TODOS.md
clash-forge.yaml
.worktrees/
.claude
